<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huanxin.oa">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".form.FormWithChartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sign.SignActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".chart.ChartActivity"
            android:screenOrientation="portrait" /> <!-- http://lbsyun.baidu.com/apiconsole/key -->
        <activity
            android:name=".form.FormActivy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".review.ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".review.ReviewDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".form.FormConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lookup.LookUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".form.FormNewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".form.FormRefreshActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9ZQ7yefZOtQoilT0LzMk4kOGhlMA8hwn" /> <!-- 声明service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.huanxin.oa.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>